# Fichiers de dépendances (le plus important !)
# Ce dossier est recréé localement avec "npm install"
node_modules/
/frontend/node_modules/
/backend/node_modules/

# Fichiers de build de Next.js
# Ce dossier est recréé avec "npm run build"
.next/
/frontend/.next/
out/
/frontend/out/

# Fichiers de configuration Vercel
.vercel/
/frontend/.vercel/

# Fichiers de variables d'environnement locales (CONTIENT DES SECRETS !)
# Ne jamais partager ces fichiers.
.env.local
.env.development.local
.env.test.local
.env.production.local

# Fichiers de log et de débogage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Fichiers générés par le système d'exploitation ou l'éditeur de code
.DS_Store
Thumbs.db
.vscode/